In [1]:
import pandas as pd

s=pd.Series(['one','two','three'])
s

0      one
1      two
2    three
dtype: object

In [9]:
s=pd.Series(['one','two','three'], index=['A','B','C'])
s

A      one
B      two
C    three
dtype: object

In [10]:
a = pd.DataFrame({
    '이름' :['장동건','원빈','장원영','아이유'],
    '성별':['남자','남자','여자','여자'],
    '나이':[1,2,3,4]
})
a

    이름  성별  나이
0  장동건  남자   1
1   원빈  남자   2
2  장원영  여자   3
3  아이유  여자   4

In [12]:
a.describe()

             나이
count  4.000000
mean   2.500000
std    1.290994
min    1.000000
25%    1.750000
50%    2.500000
75%    3.250000
max    4.000000

In [13]:
a.index=['A','B','C','D']

In [14]:
a

    이름  성별  나이
A  장동건  남자   1
B   원빈  남자   2
C  장원영  여자   3
D  아이유  여자   4

In [15]:
a.columns=['Name','Sex','Age']

In [16]:
a

  Name Sex  Age
A  장동건  남자    1
B   원빈  남자    2
C  장원영  여자    3
D  아이유  여자    4