# 03_자료구조

## 복습해볼까요?(1단계)

### 문제1
(1) 사과, 바나나, 레몬, 오렌지, 망고 원소를 담고 있는 리스트를 선언해보세요. (리스트 이름은 'fruit')

In [ ]:
fruit = ['사과','바나나','레몬','오렌지','망고']

(2) 인덱싱을 통해 '바나나'를 출력하세요.

In [ ]:
fruit[1]

'바나나'

(3) 슬라이싱을 통해 '사과', '레몬', '망고'만 출력하세요.

In [ ]:
a= fruit[0]
b= fruit[2]
c= fruit[4]
[a,b,c]

['사과', '레몬', '망고']

(4) fruit 리스트에서 '바나나'를 '딸기'로 변경한 뒤, 리스트를 출력하세요.

In [ ]:
i= fruit.index('바나나')
fruit[i]='딸기'
fruit

['사과', '딸기', '레몬', '오렌지', '망고']

### 문제2
다음과 같이 리스트 fruit에 데이터를 추가하려고 합니다.
> fruit = ['사과', '바나나', '레몬', '오렌지', '망고']

(1) append를 이용해서 '메론'을 리스트에 추가하고 리스트를 출력하세요.

In [ ]:
fruit = ['사과', '바나나', '레몬', '오렌지', '망고']

fruit.append('메론')
fruit

['사과', '바나나', '레몬', '오렌지', '망고', '메론']

(2) insert를 이용해서 '사과'와 '바나나' 사이에 '딸기'를 추가한 뒤, fruit 리스트를 출력하세요.

In [ ]:
fruit.insert(1,'딸기')
fruit

['사과', '딸기', '바나나', '레몬', '오렌지', '망고', '메론']

### 문제3
다음과 같이 리스트 cafe에 데이터를 추가하려고 합니다.
> cafe = ['coffee', 'tea', 'water']

(1) append를 이용하여 리스트 ['juice', 'latte']를 cafe 리스트에 추가한 뒤, cafe를 출력해보세요.

In [ ]:
cafe = ['coffee', 'tea', 'water']

cafe.append(['juice','latte'])
cafe

['coffee', 'tea', 'water', ['juice', 'latte']]

(2) 이번에는 extend를 이용하여 리스트 ['juice', 'latte']를 처음 cafe 리스트에 추가한 뒤, cafe를 출력해보세요.

In [ ]:
cafe = ['coffee', 'tea', 'water']

cafe.extend(['juice','latte'])
cafe

['coffee', 'tea', 'water', 'juice', 'latte']

(3) append와 extend를 이용하여 리스트를 추가했을 때의 각각 어떠한 차이가 있나요?

In [ ]:
# append 는 맨 마지막 에 리스트 자체라는 1개의 변수를 추가했으나 extend는 리스트 끼리의 더하는 함수 이므로 2개의 변수가 추가 되었다.

### 문제4
다음과 같이 리스트 subject에서 데이터를 삭제하려고 합니다.
> subject = ['math', 'english', 'art', 'korean', 'music', 'science']

(1) remove를 사용하여 'korean'을 삭제한 뒤, 리스트를 출력하세요.

In [ ]:
subject = ['math', 'english', 'art', 'korean', 'music', 'science']

subject.remove('korean')
subject

['math', 'english', 'art', 'music', 'science']

(2) del를 사용하여 'art'를 삭제한 뒤, 리스트를 출력하세요.

In [ ]:
del subject[2]
subject

['math', 'english', 'music', 'science']

(3) pop을 사용하여 'science'를 새로운 변수에 저장한 뒤, 그 변수와 subject 리스트를 출력해보세요.

In [ ]:
a=subject.pop()
print(a)
print(subject)

science
['math', 'english', 'music']

(4) clear를 사용하여 subject 리스트의 모든 데이터를 지우고, subject를 출력해보세요.

In [ ]:
subject.clear()
subject

[]

(5) del를 사용하여 subject 리스트 자체를 삭제해보세요. (삭제 후 subject 출력 시 에러가 발생되도록)

In [ ]:
del subject
subject

NameError: ignored

### 문제5
다음과 같이 무작위 정수가 들어 있는 리스트가 있다.
> num = [33, 53, 78, 23, 4, 64, 93, 80]

(1) sort를 이용하여 num 리스트를 오름차순 정렬한 뒤, 리스트를 출력해보세요.

In [ ]:
num = [33, 53, 78, 23, 4, 64, 93, 80]

num.sort()
num

[4, 23, 33, 53, 64, 78, 80, 93]

(2) sorted를 이용하여 오름차순으로 정렬한 num을 새로운 리스트 'new'에 저장한 뒤, new 리스트를 출력해보세요.

In [ ]:
num.reverse()
new = num
new

[93, 80, 78, 64, 53, 33, 23, 4]

### 문제6
다음과 같이 리스트 color가 있다.
> color = ['yellow', 'red', 'blue', 'red', 'green', 'pink', 'yellow']

(1) len을 이용하여 color 리스트 안에 데이터가 몇 개 들어있는지 출력해보세요.

In [ ]:
color = ['yellow', 'red', 'blue', 'red', 'green', 'pink', 'yellow']

len(color)

7

(2) index()를 이용하여 'pink' 데이터가 몇 번째 요소에 있는지 출력해보세요.

In [ ]:
color.index('pink')

5

(3) count를 이용하여 'yellow' 데이터가 리스트 안에 몇 개 있는지 출력해보세요.

In [ ]:
color.count('yellow')

2

(4) 'black' 데이터가 color 리스트 안에 있는지 확인해보세요. (True/False로 출력되도록)

In [ ]:
bool(color.count('balck'))

False

### 문제7
다음과 같이 리스트 nation이 있다.
> nation = ['Korea', 'Japan', 'China']

(1) nation 리스트를 튜플 자료형으로 바꾼 뒤 출력해보세요.

In [ ]:
nation = ['Korea', 'Japan', 'China']
t1=(nation[0],nation[1],nation[2])
nation=t1
nation

('Korea', 'Japan', 'China')

(2) nation에서 'Japan'을 인덱싱 해서 출력해보세요.

In [ ]:
nation[1]

'Japan'

(3) nation에 'Italy', 'France'를 추가한 뒤, nation을 출력해보세요.

In [ ]:
t2=('Italy','France')
nation= nation+t2
nation

('Korea', 'Japan', 'China', 'Italy', 'France')

(4) nation에서 'China'를 삭제해보세요. 삭제가 가능한가요-?

In [ ]:
# nation.remove('China')
# nation.pop(2)
# del nation[2]  
# 튜플은 값변경 불가능

### 문제8
다음과 같이 리스트 fruit이 있습니다.
> fruit = ['사과', '바나나', '레몬', '사과', '체리', '바나나']

(1) fruit 리스트를 set으로 변환하여 새로운 변수 'fruit_set'에 저장한 뒤 이를 출력해보세요.

In [ ]:
fruit = ['사과', '바나나', '레몬', '사과', '체리', '바나나']

fruit_set=set(fruit)
fruit_set

{'레몬', '바나나', '사과', '체리'}

(2) fruit_set에 add 함수를 사용하여 '망고'를 추가한 뒤, 출력해보세요. (추가된 위치도 확인해보세요~)

In [ ]:
fruit_set.add('망고')
fruit_set # 오름차순으로 저장

{'레몬', '망고', '바나나', '사과', '체리'}

(3) fruit_set에 update 함수를 사용하여 '딸기', '블루베리'를 한 번에 추가한 뒤, 출력해보세요.

In [ ]:
fruit_set.update({'딸기','블루베리'})
fruit_set

{'딸기', '레몬', '망고', '바나나', '블루베리', '사과', '체리'}

(4) fruit_set에 remove를 이용하여 '사과'를 삭제한 뒤, 출력해보세요.

In [ ]:
fruit_set.remove('사과')
fruit_set

{'딸기', '레몬', '망고', '바나나', '블루베리', '체리'}

(5) fruit_set에 discard를 이용하여 '바나나'를 삭제한 뒤, 출력해보세요.

In [ ]:
fruit_set.discard('바나나')
fruit_set

{'딸기', '레몬', '망고', '블루베리', '체리'}

### 문제9
다음과 같이 음료 이름과 가격 데이터가 담긴 딕셔너리 menu가 있습니다.
> menu = {'커피' : 3000, '차' : 4000, '쉐이크' : 5000}

(1) keys()를 사용하여 menu 딕셔너리의 key만 출력해보세요.

In [ ]:
menu = {'커피' : 3000, '차' : 4000, '쉐이크' : 5000}

menu.keys()

dict_keys(['커피', '차', '쉐이크'])

(2) values()를 사용하여 menu 딕셔너리의 value만 출력해보세요.

In [ ]:
menu.values()

dict_values([3000, 4000, 5000])

(3) menu의 key 값들을 새로운 변수 'name'에 리스트 형태로 저장한 뒤, name을 출력해보세요.

In [ ]:
name = list(menu.keys())
name

['커피', '차', '쉐이크']

(4) menu에서 '쉐이크'의 가격은 얼마인지 조회해보세요.

In [ ]:
menu['쉐이크']

5000

(5) '쉐이크'의 가격을 6000으로 변경한 뒤, menu를 출력해보세요.

In [ ]:
menu['쉐이크']=6000
menu

{'쉐이크': 6000, '차': 4000, '커피': 3000}

(6) 새로운 데이터 '프라푸치노'와 가격 5000을 menu에 추가한 뒤, menu를 출력해보세요.

In [ ]:
menu['프라푸치노']=5000
menu

{'쉐이크': 6000, '차': 4000, '커피': 3000, '프라푸치노': 5000}

### 문제10
다음과 같이 과목별 3개의 성적 데이터가 담긴 딕션너리 'score'가 있습니다.
> score = {'math' : [80, 75, 90], 'english' : [95, 80, 100], 'science' : [85, 100, 90], 'korean' : [100, 90, 85]}

(1) pop을 이용하여 'math'의 value를 새로운 리스트 'math_score'에 저장한 뒤 math_score를 출력해보세요.

In [ ]:
score = {'math' : [80, 75, 90], 
         'english' : [95, 80, 100], 
         'science' : [85, 100, 90], 
         'korean' : [100, 90, 85]}
math_score= score['math']
math_score

[80, 75, 90]

(2) del를 이용하여 'science' key를 삭제한 뒤, score를 출력해보세요.

In [ ]:
del score['science']
score

{'english': [95, 80, 100], 'korean': [100, 90, 85], 'math': [80, 75, 90]}

(3) in을 사용하여 score의 'korean' key에 95가 있는지 확인해보세요. (False가 출력되어야 합니다)

In [ ]:
95 in score.values()

False

## 난이도업! (2단계)

#### 문제1
아래와 같이 음악 재생 리스트 popsong이 있습니다.
> popsong = ['Virtual Insanity', 'Say something', 'Love Me Trough The Night', 
           'Love Me Trough The Night', 'Skyfall', 'Say something', 'Skyfall', 
           'Love Me Trough The Night', 'Skyfall', 'Virtual Insanity', 
           'Viva La Vida', '1000x', 'Life Goes On', 'Say something',
           'Life Goes On', 'Viva La Vida','Virtual Insanity', 'Life Goes On']

(1) popsong 리스트에서 중복된 노래를 삭제한 뒤, 다시 popsong 리스트를 출력해보세요.(리스트 형식 유지)

In [ ]:
popsong = ['Virtual Insanity', 'Say something', 'Love Me Trough The Night', 
           'Love Me Trough The Night', 'Skyfall', 'Say something', 'Skyfall', 
           'Love Me Trough The Night', 'Skyfall', 'Virtual Insanity', 
           'Viva La Vida', '1000x', 'Life Goes On', 'Say something',
           'Life Goes On', 'Viva La Vida','Virtual Insanity', 'Life Goes On']


myset=set(popsong)
popsong=list(myset)
popsong

['Viva La Vida',
 'Say something',
 'Skyfall',
 'Love Me Trough The Night',
 'Life Goes On',
 '1000x',
 'Virtual Insanity']

(2) index를 이용하여 '1000x' 데이터가 몇 번째 요소에 있는지 출력해보세요.

In [ ]:
popsong.index('1000x')

5

(2) popsong 리스트에서 '1000x'를 삭제하고, 'music'이라는 이름의 리스트로 옮기려고 합니다. 

append, pop, index를 모두 이용해서 코드 한 줄로 작성해보세요.

In [ ]:
music = []

# 아래에 코드 한 줄로 입력
music = popsong.pop(popsong.index('1000x')) 


print('재생음악 :', popsong)
print('삭제된음악 :', music)

재생음악 : ['Viva La Vida', 'Say something', 'Skyfall', 'Love Me Trough The Night', 'Life Goes On', 'Virtual Insanity']
삭제된음악 : 1000x

###문제2
아래와 같이 이름, 나이, 연락처, 직업 정보를 담고있는 딕셔너리가 있습니다.
 > info = {'홍길동' : ['27', '010-1234-1234', '학생'],
           '전우치' : ['20', '010-5678-5678', '직장인'],
           '김철수' : ['22', '010-4321-4321', '무직'] }

(1) '김철수'를 '김영희'로 변경한 뒤, info를 출력해보세요.

In [ ]:
info = {'홍길동' : ['27', '010-1234-1234', '학생'],
        '전우치' : ['20', '010-5678-5678', '직장인'],
        '김철수' : ['22', '010-4321-4321', '무직'] }
info['김영희'] = info.pop('김철수')
info

{'김영희': ['22', '010-4321-4321', '무직'],
 '전우치': ['20', '010-5678-5678', '직장인'],
 '홍길동': ['27', '010-1234-1234', '학생']}

(2) 문자열로 저장되어 있는 각 사람의 나이 데이터를 정수형으로 바꾼 뒤, info를 출력해보세요.

In [ ]:
keys=info.keys()
keys
for k in keys:
  age = info[k].pop(0)
  info[k].insert(0,int(age))

info

{'김영희': [22, '010-4321-4321', '무직'],
 '전우치': [20, '010-5678-5678', '직장인'],
 '홍길동': [27, '010-1234-1234', '학생']}

### 문제3
다음과 같이 과일 이름과 색깔, 가격 정보가 담긴 리스트 3개가 있습니다.
> name = ['사과', '바나나', '귤', '블루베리', '복숭아']

> color = ['red', 'yellow', 'orange', 'blue', 'pink']

> price = [3000, 4000, 7000, 8000, 5000]

(1) 같은 위치에 있는 데이터끼리 짝지어 과일에 따른 색깔, 가격 정보가 담긴 딕셔너리를 만드려고 합니다.

{'name' : ['color', price]} 형태의 딕셔너리를 만든 뒤, 출력해보세요. (인덱스활용)

In [1]:
fruit = ['사과', '바나나', '귤']
color = ['red', 'yellow', 'orange']
price = [3000, 4000, 7000]

# name['사과'] = ['red', 3000] 말고 다른 방법 사용하기!

for i in range(0,3):
  if i==0: 
    d1={fruit[i]:[color[i],price[i]]}
  else:
    d2={fruit[i]:[color[i],price[i]]}
    d1.update(d2)

d1

{'귤': ['orange', 7000], '바나나': ['yellow', 4000], '사과': ['red', 3000]}